{% extends "base.html" %}

{% block title %}用户列表{% endblock %}

{% block content %}
<section class="card">
    <h2>用户列表</h2>
    <table>
        <thead>
            <tr>
                <th>用户 ID</th>
                <th>用户名</th>
                <th>手机号</th>
                <th>邮箱</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.user_name }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
